{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}


{% block body %}

    {% include '_flashes.html.twig' %}


    <div class='contact_container'>
        <div class='coordonnees_container'>
            <h1>Coordonnées</h1>
            <p>N'hésitez pas à me contacter si vous êtes intéressé(e) par un modèle ou pour échanger ensemble sur votre projet. Le formulaire de contact est à votre disposition. Une FAQ est également disponible pour répondre aux questions que l'on me pose le plus fréquemment.<br> Vous pouvez aussi me retrouver sur <a href="https://www.instagram.com/lavitrinedevalerie/" target="_blank">Instagram</a>.</p>
            <button class="btn"><a href="{{path('app_faq')}}" >Accéder à la FAQ</a></button>
        </div>
        <div class="form_container ">
        <h1>Envoyer un mail</h1>
        {{ form_start(form) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.message) }}
            <div class="checkbox">
                {{form_label(form.rgpd)}}
                {{form_widget(form.rgpd)}}
            </div>
            <button class="btn btn_form">{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
