{% extends 'base.html.twig' %}


{% block title %}Foire aux questions{% endblock %}

{% block body %}
     <div class="faq_container margin_page">
        <h1>Questions fréquentes</h1>
        <p>Voici quelques exemples de questions fréquemment posées. <br>Si vous ne trouvez pas de réponses adéquates, passez par le <a href="{{path('app_contact')}}">formulaire de contact</a>. </p>
                <div class="faq">
                    <p class="question">Combien d’expos faites-vous par an ? <img src="{{ asset('/assets/img/chevron-down.png') }}" alt=""> </p>
                    <p class="response">2 à 3 expos dans le secteur de Cesson (Salon, Marché de Noël et occasionnellement manifestations locales). <a href="{{path('app_expositions')}}">Voir ma prochaine expo</a></p>  
    
                    <p class="question">Est-ce que vous en vivez ?<img src="{{ asset('/assets/img/chevron-down.png') }}" alt=""></p>
                    <p class="response">Cette activité reste un loisir et ce n’est pas mon métier.</p>
    
                    <p class="question">Proposez-vous des réductions (soldes, promotions) ?<img src="{{ asset('/assets/img/chevron-down.png') }}" alt=""></p>
                    <p class="response">Les prix auxquels sont proposés mes vitrines ne me permettent pas de dégager un grand bénéfice, donc pas de soldes mais une fois par an un coin des bonnes affaires lors du Salon des Loisirs Créatifs est proposé.</p>
    
                    <p class="question">Est-ce que vous réalisez tout à la main ?<img src="{{ asset('/assets/img/chevron-down.png') }}" alt=""></p>
                    <p class="response">Les boitages sont réalisés entièrement à la main en carton plume et carton.
                        Les terrariums sont chinés au grès de mes besoins ainsi que les autres contenants comme les radios TSF vintages.
                        Quant aux objets qui décorent mes réalisations, certains ont été achetés et d’autres sont réalisés par mes soins. <a href="{{path('app_vitrines', {'new' : 'toutes-les-vitrines'})}}">Voir toutes les vitrines</a></p>
    
                    <p class="question">Est-ce que vous faites les commandes ?<img src="{{ asset('/assets/img/chevron-down.png') }}" alt=""></p>
                    <p class="response">Je propose effectivement la réalisation de vitrines personnalisées au thème que vous souhaitez. Il  faut compter un budget de 50€ minimum et un délai d’un mois. N'hésitez pas à <a href="{{path('app_contact')}}">me contacter </a>pour qu'on puisse en discuter.</p>
    
                    <p class="question">Est-ce que vous pouvez réaliser de nouveau un modèle présenté mais déjà réservé ?<img src="{{ asset('/assets/img/chevron-down.png') }}" alt=""></p>
                    <p class="response">C’est possible, de manière exceptionnelle, en petite quantité et sur certains modèles, car mes créations restent des pièces uniques. <a href="{{path('app_contact')}}">Prendre contact </a></p>
    
                    <p class="question">Combien de temps consacrez-vous à la réalisation de ces vitrines ?<img src="{{ asset('/assets/img/chevron-down.png') }}" alt=""></p>
                    <p class="response">Plusieurs heures ou plusieurs jours selon les modèles, je prends mon temps pour faire un travail de qualité et je ne compte pas forcément le temps passé car cette activité reste du plaisir.</p>
    
                    <p class="question">Proposez-vous la Livraison ?<img src="{{ asset('/assets/img/chevron-down.png') }}" alt=""></p>
                    <p class="response">Livraison possible et gratuite en mains propres sur Cesson et Vert Saint Denis. Mais pas d’envoi à cause de la casse ou du décollement des objets possibles lors des manipulations peu précautionneuses des livreurs.</p>
    
                    <p class="question">Est-ce que vous pouvez réaliser la même vitrine en plus petit et moins cher ?<img src="{{ asset('/assets/img/chevron-down.png') }}" alt=""></p>
                    <p class="response">Le prix indiqué n’est pas en relation avec la grandeur de la vitrine mais avec ce dont elle est composée. Toute au long de l’année je glane afin de trouver des petits prix (soldes, promos, déstockages…) afin de proposer des créations à un prix raisonnable.
                        Car mon objectif n’est pas de vivre de cette activité mais bien de me permettre de réaliser de nouvelles compositions.</p>
                </div>
    </div>

<script src="{{asset('js/accordion.js')}}"></script>
{% endblock %}

