{% extends 'base.html.twig' %}

{% block title %}Personnalisation{% endblock %}


{% block body %}
    <div class="page_perso">
        <h1>La personnalisation</h1>
        <div class='perso_container'>
            <p>La personnalisation est une commande, une idée de cadeau pour un événement spécial (anniversaire, départ en retraite, mutation, mariage, naissance….) à offrir ou pour le plaisir. Elle passe aussi par l’adaptation d’une création
selon vos critères : vous avez craqué sur une de mes réalisations mais elle n’est plus disponible ; vous souhaitez une déco dans le même style en y ajoutant vos goûts. Elle peut aussi tout simplement se concrétiser par l’ajout d’une prénom et/ou d’une date sur une création disponible si cela est possible. N’hésitez pas à me contacter afin de discuter de votre projet, je serai à l’écoute pour satisfaire votre demande.</p>
            <button class='btn btn_allVitrines'>
            <a href="{{path('app_contact')}}">Me contacter</a>
        </button>
            <h3>Quelques exemples de personnalisation</h3>
            <div class="img_personalization_container">
            <div>
                <img class="img_personalization" src="{{ asset('/assets/img/koalas.jpg') }}" alt="Vitrine Koalas" />
                <p>Vitrine Koala</p>
            </div>
            <div>
                <img class="img_personalization" src="{{ asset('/assets/img/koalas.jpg') }}" alt="Vitrine Koalas" />
                <p>Vitrine Koala</p>
            </div>
            <div>
                <img class="img_personalization" src="{{ asset('/assets/img/koalas.jpg') }}" alt="Vitrine Koalas" />
                <p>Vitrine Koala</p>
            </div>
            <div>
                <img class="img_personalization" src="{{ asset('/assets/img/koalas.jpg') }}" alt="Vitrine Koalas" />
                <p>Vitrine Koala</p>
            </div>

            </div>
        </div>
        <button class='btn btn_allVitrines'>
            <a href="{{path('app_vitrines')}}">Voir toutes les vitrines</a>
        </button>
        
    </div>

<script src="{{asset('js/index.js')}}"></script>
{% endblock %}
