{% extends 'base.html.twig' %}

{% block title %}Personnalisation{% endblock %}


{% block body %}
    <div class="page_perso margin_page">
        <h1>La personnalisation</h1>
        <div class='perso_container'>
            <p>La personnalisation est une commande, une idée de cadeau pour un événement spécial (anniversaire, départ en retraite, mutation, mariage, naissance…) à offrir ou pour le plaisir. Elle passe aussi par l’adaptation d’une création
selon vos critères : vous avez craqué sur une de mes réalisations mais elle n’est plus disponible ; vous souhaitez une déco dans le même style en y ajoutant vos goûts. Elle peut aussi tout simplement se concrétiser par l’ajout d’une prénom et/ou d’une date sur une création disponible si cela est possible. N’hésitez pas à me contacter afin de discuter de votre projet, je serai à l’écoute pour satisfaire votre demande.</p>
            <a class="link" href="{{path('app_contact')}}">Me contacter</a>
            <h3>Quelques exemples de personnalisation</h3>
            <div class="img_personalization_container">
            <div>
                <img class="img_personalization" src="{{ asset('/assets/img/laurenthèque.JPG') }}" alt="Vitrine Laurenthèque - Personnalisation" />
                <p>Vitrine Laurenthèque</p>
            </div>
            <div>
                <img class="img_personalization" src="{{ asset('/assets/img/vitrineTiffanie.JPG') }}" alt="Vitrine Tiffanie - personnalisation" />
                <p>Vitrine Tiffanie</p>
            </div>
            <div>
                <img class="img_personalization" src="{{ asset('/assets/img/peinture.JPG') }}" alt="Vitrine Atelier La Pie - personnalisation" />
                <p>Vitrine Atelier La Pie</p>
            </div>
            <div>
                <img class="img_personalization" src="{{ asset('/assets/img/casimir.JPG') }}" alt="Vitrine Casimir - personnalisation" />
                <p>Vitrine Casimir</p>
            </div>

            </div>
        </div>
        <a class="link" href="{{path('app_vitrines', {'new' : 'toutes-les-vitrines'})}}">Voir toutes les vitrines</a>
    </div>

<script src="{{asset('js/index.js')}}"></script>
{% endblock %}
