{% extends 'base.html.twig' %}


{% block title %}Vitrine{% endblock %}
{% block body %}

<div class="showdetail_page margin_page">
    <div class="detail_container">
       <div class="carousel_container">
            {% for image in vitrine.images %}
            <img class="img-carousel" src="{{ asset('/upload/' ~ image.title) }}" alt="Vitrine {{image.title}}">
            {% endfor %}
        </div>
        <button class="carousel-next"><img src="{{ asset('/assets/img/chevron-right.png') }}" alt=""></button>
        <button class="carousel-previous"><img src="{{ asset('/assets/img/chevron-left.png') }}" alt=""></button>
        <div>
            <h1 class="detail_title_vitrine">{{vitrine.name}}</h1>
            <p>Format : {{vitrine.format}}</p>
            <p>{{vitrine.description}}</p>
            <div>
                {% if vitrine.available %}
                <p>Vitrine disponible</p>
                <p class='detail_price_vitrine'>{{vitrine.price}} €</p>
            </div>
            <div class="contact_condition">
                <p>Intéressé(e) par cette vitrine ?</p>

                    <a class="link link_contact" href="{{path('app_contact')}}">Contactez-moi</a>

            </div>
                {% else %}
                <p>Vitrine indisponible</p>
            </div>
                {% endif %}
        </div>
    </div>
        <a class="link link_back" href="{{previousUrl}}">Retour - Toutes les vitrines</a>
        <a class="link link_back" href="{{path('app_new_vitrines')}}">Toutes les nouveautés</a>

</div>
        
        


<script src="{{asset('js/carousel.js')}}"></script>

{% endblock %}

