{% extends 'base.html.twig' %}


{% block title %}Vitrine{% endblock %}
{% block body %}

<div class="showdetail_page">
    <div class="detail_container">
       <div class="carousel_container">
            {% for image in vitrine.images %}
            <img class="img-carousel"src="{{ asset('/upload/' ~ image.title) }}" alt="Vitrine {{image.title}}">
            {% endfor %}
        </div>
        <button class="carousel-next"><img src="{{ asset('/assets/img/chevron-right.png') }}" alt=""></button>
        <button class="carousel-previous"><img src="{{ asset('/assets/img/chevron-left.png') }}" alt=""></button>
        <div>
            <h1 class="detail_title_vitrine">{{vitrine.name}}</h1>
            <p>Format : {{vitrine.format}}</p>
            <p>{{vitrine.description}}</p>
            <div>
                {% if vitrine.available %}
                <p>Vitrine disponible</p>
                <p class='detail_price_vitrine'>{{vitrine.price}} €</p>
            </div>
            <div class="contact_condition">
                <p>Intéressé(e) par cette vitrine ?</p>
                <button class='btn btn_contact'>
                    <a href="{{path('app_vitrines')}}">Contactez-moi</a>
                </button>
            </div>
                {% else %}
                <p>Vitrine indisponible</p>
            </div>
                {% endif %}
        </div>
    </div>
    <button class='btn btn_back'>
        <a href="{{path('app_vitrines')}}">Retour - Toutes les vitrines</a>
    </button>
</div>
        
        


<script src="{{asset('js/index.js')}}"></script>

{% endblock %}

