{% extends 'base.html.twig' %}


{% block title %}Toutes les vitrines{% endblock %}
{% block body %}
<div class='page_vitrines'>
    <h1>Les Vitrines</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate placeat fugiat sint illum. Modi,
            voluptatem esse. Quaerat consectetur nam veniam debitis cupiditate, fugit, assumenda perferendis, corrupti
            exercitationem modi qui aspernatur!</p>
    <div class='vitrines_container'>

        <div class='filter_container'>
            <p>Filtres</p>
            {{form_start(form)}}
                <div class="search">
                    {{form_row(form.q)}} <button type="submit" class="btn_search"><img src="{{asset('/assets/img/search.png')}}" alt=""></button>
                </div>

                {{form_row(form.new)}}
                {{form_row(form.available)}}
                <hr>
                <ul>
                <label for="">Thèmes</label>
                    {% for name in form.theme %}
                        <li>{{form_widget(name)}} {{form_label(name)}}</li>
                    {% endfor %}
                </ul>
                <hr>
                <ul>
                <label for="">Format</label>
                    {% for name in form.format %}
                        <li>{{form_widget(name)}} {{form_label(name)}}</li>
                    {% endfor %}
                </ul>


            <button type="submit" class="btn btn_filter">Filtrer</button>
            <button type="submit" class="btn btn_filter"><a href="{{ path('app_vitrines') }}">Tout réinitialiser</a></button>
            {{form_end(form)}}
            </div>

        <div class='cards_vitrines_container'>
            {% for vitrine in vitrines %}
                <div class='card'>
                    {% for image in vitrine.images|slice(0,1) %}
                        <img class="img_card"src="{{ asset('/upload/' ~ image.title) }}" alt="">
                    {% endfor %}
                    <p class='title_vitrine'>{{vitrine.name}}</p>
                    <p class='price_vitrine'>{{vitrine.price}} €</p>
                    <button class='btn_detail_vitrine'>
                        <a href="{{path('app_show_vitrine', {'id': vitrine.id})}}" class="link_detail_vitrine"><img class='eye_png' src='{{ asset('/assets/img/eye.png') }}'></img>Voir
                            la fiche</a>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

