{% extends 'base.html.twig' %}

{% block title %}Vitrine{% endblock %}

{% block body %}
    <h1>Vitrine : {{ vitrine.Name }}</h1>

    <table class="table dashboard_vitrines">
        <tbody class="table_show_vitrine">
            <tr>
                <th>Id</th>
                <td>{{ vitrine.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ vitrine.Name }}</td>
            </tr>

            <tr>
                <th>Nouveauté ?</th>
                <td>{{ vitrine.New ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vitrine.Price }} €</td>
            </tr>
            <tr>
                <th>Disponible ?</th>
                <td>{{ vitrine.Available ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vitrine.Description }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{% for image in vitrine.images %}
                <img class="img_dashboard"src="{{ asset('/upload/' ~ image.title) }}" alt="">
                {% endfor %}</td>
            </tr>

        </tbody>
    </table>


    <button class="btn_admin btn_admin_edit"><a href="{{ path('app_vitrine_edit', {'id': vitrine.id}) }}">Modifier</a></button>

    {{ include('vitrine/_delete_form.html.twig') }}

    <a class="dashboard_link" href="{{ path('app_vitrine_index') }}">Retour à la liste</a>
{% endblock %}
