<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Site de vitrines">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('/assets/img/favicon.png')}}">
        <link rel="stylesheet" href="{{asset('/css/style.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('navbar.html.twig')}}
       

        {% block body %}{% endblock %}

        {{ include('footer.html.twig')}}
        <script src="{{asset('/js/navbar.js')}}"></script>
        <script src="{{asset('/js/footer.js')}}"></script>

    </body>
</html>
